/*@font-face */
/*General */
/*============ */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "open-sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  direction: ltr;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background-color: #191919;
}
body.loaded {
  -webkit-animation: perspective 6s ease-out 2s alternate infinite;
          animation: perspective 6s ease-out 2s alternate infinite;
}

/*Give All anchors/button a transition */


h1 {
  font-size: 3.4rem;
}



h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 1.5rem;
}

.box {
  background-color: white;
  border-radius: 20px;
  float: left;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 2px white;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  text-align: center;
}
.intro.display {
  display: none;
}
.intro h1 {
  margin: 0;
  color: white;
}

/* @keyframes & transitions */
@-webkit-keyframes perspective {
  100% {
    -webkit-perspective: 750px;
            perspective: 750px;
  }
}
@keyframes perspective {
  100% {
    -webkit-perspective: 750px;
            perspective: 750px;
  }
}
